In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
from datetime import datetime

In [2]:
# Read in csv files
realtor = pd.read_csv("../data/realtor_housing_metrics_state.csv")

national_realtor = pd.read_csv("../data/realtor_housing_metrics_country.csv")

median_income = pd.read_csv("../data/median_income_by_state.csv")

national_median_income = pd.read_csv("../data/income_updated.csv", index_col = [0])

In [3]:
# Converting to datetime column & creating year column
realtor['month_date_yyyymm'] = pd.to_datetime(realtor['month_date_yyyymm'])

realtor['year'] = realtor['month_date_yyyymm'].dt.year

realtor['month'] = realtor['month_date_yyyymm'].dt.month_name()

national_realtor['month_date_yyyymm'] = pd.to_datetime(national_realtor['month_date_yyyymm'])

national_realtor['year'] = national_realtor['month_date_yyyymm'].dt.year

national_realtor['month'] = national_realtor['month_date_yyyymm'].dt.month_name()

In [4]:
# Creating df for housing by state & housing for the whole country
state_housing_df = realtor.merge(median_income, how = 'left')

national_housing_df = national_realtor.merge(national_median_income, how = 'left')

In [5]:
# Take median income and divide by median listing price
national_housing_df['Income to Home Price Ratio'] = national_housing_df['median_income'] / national_housing_df['median_listing_price']
state_housing_df['Income to Home Price Ratio'] = state_housing_df['Households'] / state_housing_df['median_listing_price']

In [6]:
# Rename columns
national_housing_df = national_housing_df.rename(columns = {'median_listing_price': 'Median Listing Price'})

state_housing_df = state_housing_df.rename(columns = {'Households': 'median_income',
                                  'median_listing_price': 'Median Listing Price'})

In [7]:
state_housing_df.to_csv("../data/state_housing.csv", index = False)
national_housing_df.to_csv("../data/national_housing.csv", index = False)

In [18]:
state_housing_df.dropna(subset = 'median_income')

,month_date_yyyymm,state,state_id,Median Listing Price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,...,pending_ratio,quality_flag,year,month,median_income,15 to 24 years,25 to 44 years,45 to 64 years,65 years and over,Income to Home Price Ratio
816,2022-12-01,Rhode Island,RI,475000.0,1182.0,45.0,544.0,12.0,228.0,1268.0,...,1.0728,0.0,2022,December,81370.0,43688.0,86770.0,100530.0,56242.0,0.171305
817,2022-12-01,Washington,WA,599900.0,11462.0,64.0,3032.0,152.0,2820.0,5651.0,...,0.4930,1.0,2022,December,90325.0,51503.0,101586.0,109939.0,62564.0,0.150567
818,2022-12-01,South Dakota,SD,359000.0,1942.0,60.0,460.0,8.0,144.0,333.0,...,0.1715,0.0,2022,December,69457.0,39841.0,78360.0,84713.0,51181.0,0.193474
819,2022-12-01,Virginia,VA,409900.0,12710.0,55.0,5484.0,268.0,3076.0,7843.0,...,0.6171,0.0,2022,December,87249.0,44781.0,94687.0,108094.0,61928.0,0.212854
820,2022-12-01,Illinois,IL,274700.0,20829.0,57.0,6380.0,136.0,4252.0,11911.0,...,0.5718,0.0,2022,December,78433.0,38244.0,87450.0,95019.0,55569.0,0.285522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,2016-07-01,Massachusetts,MA,439000.0,21264.0,58.0,8864.0,516.0,5900.0,7002.0,...,0.3293,NaN,2016,July,70954.0,32321.0,80263.0,87533.0,42707.0,0.161626
4790,2016-07-01,District of Columbia,DC,579900.0,1329.0,39.0,888.0,20.0,352.0,514.0,...,0.3868,NaN,2016,July,72935.0,31818.0,86812.0,73520.0,48747.0,0.125772
4791,2016-07-01,Ohio,OH,139900.0,45197.0,60.0,17472.0,680.0,13824.0,17454.0,...,0.3862,NaN,2016,July,50674.0,23937.0,55894.0,61986.0,37186.0,0.362216
4792,2016-07-01,Louisiana,LA,206900.0,17269.0,70.0,5480.0,144.0,4116.0,2370.0,...,0.1372,NaN,2016,July,45652.0,22514.0,51402.0,54028.0,32937.0,0.220648
4793,2016-07-01,Nebraska,NE,190000.0,4975.0,50.0,2492.0,116.0,1308.0,3672.0,...,0.7381,NaN,2016,July,54384.0,28598.0,59886.0,67947.0,38712.0,0.286232

In [9]:
national_housing_df

,month_date_yyyymm,country,Median Listing Price,active_listing_count,median_days_on_market,new_listing_count,price_increased_count,price_reduced_count,pending_listing_count,median_listing_price_per_square_foot,median_square_feet,average_listing_price,total_listing_count,pending_ratio,quality_flag,year,month,median_income,Income to Home Price Ratio
0,2024-04-01,United States,429950.0,734318.0,47.0,432028.0,23232.0,250924.0,457359.0,230.0,1840.0,769863.0,1187383.0,0.6228,0.0,2024,April,NaN,NaN
1,2024-03-01,United States,424900.0,694820.0,50.0,395536.0,21144.0,220240.0,421007.0,228.0,1825.0,764301.0,1112582.0,0.6059,0.0,2024,March,NaN,NaN
2,2024-02-01,United States,415500.0,664716.0,61.0,339370.0,20800.0,201428.0,367162.0,224.0,1818.0,753320.0,1029056.0,0.5524,0.0,2024,February,NaN,NaN
3,2024-01-01,United States,409500.0,665569.0,69.0,295178.0,18026.0,182930.0,309115.0,221.0,1823.0,742439.0,974378.0,0.4644,0.0,2024,January,NaN,NaN
4,2023-12-01,United States,410000.0,714176.0,61.0,235584.0,14280.0,160548.0,322167.0,220.0,1838.0,736388.0,1033505.0,0.4511,0.0,2023,December,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2016-11-01,United States,252995.0,1339703.0,74.0,376704.0,33728.0,319372.0,331791.0,126.0,1903.0,444847.0,1667766.0,0.2477,NaN,2016,November,59040.0,0.233364
102,2016-10-01,United States,255000.0,1407698.0,72.0,413376.0,36128.0,365872.0,353149.0,127.0,1913.0,443573.0,1757600.0,0.2509,NaN,2016,October,59040.0,0.231529
103,2016-09-01,United States,255000.0,1443081.0,71.0,452994.0,37224.0,406610.0,369527.0,127.0,1920.0,439192.0,1807800.0,0.2561,NaN,2016,September,59040.0,0.231529
104,2016-08-01,United States,255271.0,1460048.0,67.0,470780.0,40484.0,408718.0,392800.0,126.0,1921.0,439230.0,1848445.0,0.2690,NaN,2016,August,59040.0,0.231284
105,2016-07-01,United States,259000.0,1463007.0,64.0,527576.0,44056.0,418916.0,415303.0,127.0,1927.0,442832.0,1873189.0,0.2839,NaN,2016,July,59040.0,0.227954

national_housing_df = pd.read_csv('../data/national_housing.csv')

# Create affordability index line graph at national level

In [ ]:
national_housing_df['month_date_yyyymm'] = pd.to_datetime(national_housing_df['month_date_yyyymm'])

In [ ]:
# Create line graph for national affordability index over several years
fig, ax = plt.subplots()
ax.plot(national_housing_df['month_date_yyyymm'], national_housing_df['affordability_index'])

# Set the title and axes
ax.set_xlabel('Date')
ax.set_ylabel('Income to Home Price Ratio')
ax.set_title('Income to Home Price Ratio Over Time')

In [ ]:
# Select the year
year = 2019

# Create dataframe filtered for selected year
filtered_df = national_housing_df.query(f'year == {year}')

# Define x and y
x = filtered_df['affordability_index']
y = filtered_df['month']

# Create horizontal bar chart for national affordability index by month
fig, ax = plt.subplots()
bars = ax.barh(y, x)

# Set the title and axes
ax.set_xlabel('Income to Home Price Ratio')
ax.set_ylabel('Month')
ax.set_title(f'Income to Home Price Ratio by Month for {year}')

ax.bar_label(bars)
ax.set_xlim(0,0.35)

# Create affordability index line graph by state

In [ ]:
national_housing_df['affordability_index'] = national_housing_df['median_income'] / national_housing_df['median_listing_price']

In [ ]:
state_housing_df['affordability_index'] = state_housing_df['Households'] / state_housing_df['median_listing_price']

In [ ]:
states = ['Florida','Michigan','Tennessee']

state_housing_df[state_housing_df['state'].isin(states)]

In [ ]:
show_national = True

# Shows the affordability index over the years for the selected state
metric = 'median_listing_price'
states = ['Florida','Michigan','Tennessee']

# Subsetting dataframe for selected states
housing_for_state = state_housing_df[state_housing_df['state'].isin(states)]

# Create line graph for national affordability index over several years
fig, ax1 = plt.subplots()

for state in states:
    # Subset dataset for that state
    state_data = housing_for_state.query(f"state == '{state}'")

    # Plot line graph 
    ax1.plot(state_data['month_date_yyyymm'], state_data[f'{metric}'], color = 'grey')

    # Label the end of each line
    ax1.text(state_data['month_date_yyyymm'].iloc[0],
         state_data[f'{metric}'].iloc[0],
         state,
         fontsize = 9,
         ha = 'left',
         color = 'grey',
         fontweight = 'bold')

# Add a line for the entire united states
if show_national == True:
    ax1.plot(national_housing_df['month_date_yyyymm'], national_housing_df[f'{metric}'], color = 'black')
    
    ax1.text(national_housing_df['month_date_yyyymm'].iloc[0],
            national_housing_df[f'{metric}'].iloc[0],
            'United States',
            fontsize = 9,
            ha = 'left',
            color = 'black',
            fontweight = 'bold')

# Set the title and axes
ax1.set_xlabel('Year')
ax1.set_ylabel(f'{metric}')
ax1.set_title(f'{metric} Over Time')

# Remove the spines
ax1.spines['top'].set_visible(False)
ax1.spines['right'].set_visible(False)

# Define y range
ax1.set_ylim(bottom = 0)

In [ ]:
states = ['Tennessee','Michigan','Florida']

In [ ]:
filtered_df = state_housing_df

In [ ]:
# Function that takes in metric, month, and year and returns the top 10 states for that specific metric in the given timeframe
def top_10_mlp(metric,month,year):

    local_filtered_df = filtered_df.query(f"year == {year} and month == '{month}'")\
    .sort_values(f"{metric}", ascending = False).reset_index()

    local_filtered_df = local_filtered_df[['month_date_yyyymm','state',f'{metric}']]
    top_10_states = local_filtered_df.head(10)
    top_10_states = top_10_states.sort_values(by = f"{metric}", ascending = True)

    # Define x and y
    x = top_10_states[f'{metric}']
    y = top_10_states['state']

    # Create horizontal bar chart for top 10 states
    fig, ax = plt.subplots()
    bars = ax.barh(y, x, color = 'grey')

    # Highlight a specific state
    for bar, state in zip(bars, y):
        if state in states:
            bar.set_color('blue')

    # Set the title and axes
    ax.set_xlabel(f'{metric}')
    ax.set_title(f'Top 10 States Ranked by {metric} for April 2024 ')

    # Remove the spines
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)

    # Label the bar numbers
    ax.bar_label(bars, color = 'white', padding = -50)
    
    # Calculate the max of the metric and round
    max_value = x.max()
    value_length = len(str(int(max_value)))
    round_parameter = (value_length - 1) * -1

    # Set the x range
    ax.set_xlim((0,max_value))

    return fig

In [ ]:
top_10_mlp('Households','December',2022)

# Create top/bottom 5 states by affordability index bar chart

In [ ]:
state_housing_df

In [ ]:
metric = 'median_listing_price'
month = 'April'
year = 2024

filtered_df = state_housing_df.query(f"year == {year} and month == '{month}'")\
.sort_values(f"{metric}", ascending = False).reset_index()

filtered_df = filtered_df[['month_date_yyyymm','state',f'{metric}']]
, ascending = False
top_10_states = filtered_df.head(10)
top_10_states = top_10_states.sort_values(by = f"{metric}", ascending = True)

bottom_10_states = filtered_df.tail(10)

# Define x and y
x = top_10_states[f'{metric}']
y = top_10_states['state']

# Create horizontal bar chart for national affordability index by month
fig, ax = plt.subplots()
bars = ax.barh(y, x, color = 'grey')

# Set the title and axes
ax.set_xlabel(f'{metric}')
ax.set_ylabel('State')
ax.set_title(f'Top 10 States by {metric} ')

# Remove the spines
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)

ax.bar_label(bars, color = 'grey', fontweight = 'bold')

# Let's get the % median listing price increase

- For each state we need to subtract the earliest median listing price from the most recent median listing price and divide by the earliest median listing price
- Then we'll have the percentage increase from the starting date of that state

In [ ]:
# Sort the states from earliest date to latest
price_change = state_housing_df.sort_values(['state','month_date_yyyymm'])

# Grab the earliest price and most recent price
price_change = price_change.groupby('state').agg(earliest_price = ('median_listing_price','first'),
                                 latest_price = ('median_listing_price','last'))

# Calculate a percentage increase in price
price_change['percentage_increase'] = ((price_change['latest_price'] - price_change['earliest_price'])/ price_change['earliest_price']) * 100

# Reset the index
price_change = price_change.reset_index()

# Sort by the percentage increase and reset index
price_change = price_change.sort_values('percentage_increase', ascending = False)
price_change = price_change.reset_index(drop = True)

# Make a rank column
price_change = price_change = price_change.reset_index()\
.rename(columns = {'index': 'rank'})

# Add 1 to rank since index starts at 0
price_change['rank'] = price_change['rank'] + 1

# Subset data for selected columns: Rank, state, % increase
price_change = price_change[['rank','state','percentage_increase']]

# Convert to a csv file
price_change.to_csv('../data/mlp_percent_increase.csv', index = False)

#  Get 3 plots into one graph

In [ ]:
def mlp_pricing_trend(states, show_national):
    
    # Define the metric used
    metric = 'median_listing_price'
    year = 2022
    month = 'December'

    # Defining top 10 states and bottom 10 states
    top_10_states = state_housing_df.query(f"year == {year} and month == '{month}'")\
    .sort_values(f"{metric}", ascending = False).reset_index()\
    [['month_date_yyyymm','state',f'{metric}']].head(10)

    top_10_states = top_10_states['state'].unique()

    bottom_10_states = state_housing_df.query(f"year == {year} and month == '{month}'")\
    .sort_values(f"{metric}", ascending = False).reset_index()\
    [['month_date_yyyymm','state',f'{metric}']].tail(10)

    bottom_10_states = bottom_10_states['state'].unique()

    # Subsetting dataframe for selected states
    housing_for_state = state_housing_df[state_housing_df['state'].isin(states)]

    # Create line graph for median listing price over several years
    fig, ax1 = plt.subplots()

    for state in states:
        # Subset dataset for that state
        state_data = housing_for_state.query(f"state == '{state}'")
        
        if state in top_10_states:
            # Plot line graph 
            ax1.plot(state_data['month_date_yyyymm'], state_data[f'{metric}'], color = 'blue')
            
            # Label the end of each line
            ax1.text(state_data['month_date_yyyymm'].iloc[0],
                state_data[f'{metric}'].iloc[0],
                state,
                fontsize = 9,
                ha = 'left',
                color = 'blue',
                fontweight = 'bold')
        
        elif state in bottom_10_states:
            # Plot line graph 
            ax1.plot(state_data['month_date_yyyymm'], state_data[f'{metric}'], color = 'red')

            # Label the end of each line
            ax1.text(state_data['month_date_yyyymm'].iloc[0],
            state_data[f'{metric}'].iloc[0],
            state,
            fontsize = 9,
            ha = 'left',
            color = 'red',
            fontweight = 'bold')
        
        else:
            # Plot line graph 
            ax1.plot(state_data['month_date_yyyymm'], state_data[f'{metric}'], color = 'grey')

            # Label the end of each line
            ax1.text(state_data['month_date_yyyymm'].iloc[0],
            state_data[f'{metric}'].iloc[0],
            state,
            fontsize = 9,
            ha = 'left',
            color = 'grey',
            fontweight = 'bold')   
        
    # Add a line for the entire united states
    if show_national == True:
        ax1.plot(national_housing_df['month_date_yyyymm'], national_housing_df[f'{metric}'], color = 'black')
        
        ax1.text(national_housing_df['month_date_yyyymm'].iloc[0],
                national_housing_df[f'{metric}'].iloc[0],
                'United States',
                fontsize = 9,
                ha = 'left',
                color = 'black',
                fontweight = 'bold')
        
    # Set the title and axes
    ax1.set_ylabel(f'{metric}')
    ax1.set_title(f'{metric} Over Time', loc = 'left')

    # Remove the spines
    ax1.spines['top'].set_visible(False)
    ax1.spines['right'].set_visible(False)

    # Define y range
    ax1.set_ylim(bottom = 0)

    # Return the figure
    return(fig)

# Function that takes in metric, month, and year and returns the top 10 states for that specific metric in the given timeframe
def top_10_mlp(metric,month,year):

    filtered_df = state_housing_df.query(f"year == {year} and month == '{month}'")\
    .sort_values(f"{metric}", ascending = False).reset_index()

    filtered_df = filtered_df[['month_date_yyyymm','state',f'{metric}']]
    top_10_states = filtered_df.head(10)
    top_10_states = top_10_states.sort_values(by = f"{metric}", ascending = True)

    # Define x and y
    x = top_10_states[f'{metric}']
    y = top_10_states['state']

    # Create horizontal bar chart for national affordability index by month
    fig, ax = plt.subplots()
    bars = ax.barh(y, x, color = 'grey')

    # Highlight a specific state
    for bar, state in zip(bars, y):
        if state in states:
            bar.set_color('blue')

    # Set the title and axes
    ax.set_xlabel(f'{metric}')
    ax.set_title(f'Top 10 States by {metric} ')

    # Remove the spines
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)

    # Label the bar numbers
    ax.bar_label(bars, color = 'white', padding = -50)

    # Set the x range
    ax.set_xlim((0,900000))

    return fig

# Function that takes in metric, month, and year and returns the bottom 10 states for that specific metric in the given timeframe
def bottom_10_mlp(metric,month,year):

    filtered_df = state_housing_df.query(f"year == {year} and month == '{month}'")\
    .sort_values(f"{metric}", ascending = False).reset_index()

    filtered_df = filtered_df[['month_date_yyyymm','state',f'{metric}']]
    bottom_10_states = filtered_df.tail(10)
    bottom_10_states = bottom_10_states.sort_values(by = f"{metric}", ascending = True)

    # Define x and y
    x = bottom_10_states[f'{metric}']
    y = bottom_10_states['state']

    # Create horizontal bar chart for national affordability index by month
    fig, ax = plt.subplots()
    bars = ax.barh(y, x, color = 'grey')

    # Highlight a specific state
    for bar, state in zip(bars, y):
        if state in states:
            bar.set_color('red')

    # Set the title and axes
    ax.set_xlabel(f'{metric}')
    ax.set_title(f'Bottom 10 States by {metric} ')

    # Remove the spines
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)

    # Label the bar numbers
    ax.bar_label(bars, color = 'white', padding = -50)

    # Set x range
    ax.set_xlim((0,900000))

    return fig

Gridspec doesn't look like it'll work for the streamlit dashboard

In [ ]:
mlp_increase = pd.read_csv("../data/mlp_percent_increase.csv")

In [ ]:
mlp_increase

In [ ]:
state_housing_df =

In [ ]:
state_housing_df['month_date_yyyymm'].min().to_pydatetime().year

In [ ]:
state_housing_df[(state_housing_df['month_date_yyyymm'] >= start_date) & (state_housing_df['month_date_yyyymm'] <= end_date)]['month'].unique()

In [ ]:
state_housing_df['month_date_yyyymm'].min().to_pydatetime().strftime('%B')

In [ ]:
# Select metric to pull percentage increase for
metric = 'median_listing_price'

# Select start and end date
start_date = '2017-12-01'
end_date = '2020-12-01'

# Filter data based on date metrics
filtered_df = state_housing_df[(state_housing_df['month_date_yyyymm'] >= start_date) & (state_housing_df['month_date_yyyymm'] <= end_date)]

In [ ]:
# Sort the states from earliest date to latest
metric_change = filtered_df.sort_values(['state','month_date_yyyymm'])

# Grab the earliest price and most recent price
metric_change = metric_change.groupby('state').agg(earliest_metric = (f'{metric}','first'),
                                 latest_metric = (f'{metric}','last'))

# Calculate a percentage increase in price
metric_change['percentage_increase'] = ((metric_change['latest_metric'] - metric_change['earliest_metric'])/ metric_change['earliest_metric']) * 100

# Reset the index
metric_change = metric_change.reset_index()

# Sort by the percentage increase and reset index
metric_change = metric_change.sort_values('percentage_increase', ascending = False)
metric_change = metric_change.reset_index(drop = True)

# Make a rank column
metric_change = metric_change = metric_change.reset_index()\
.rename(columns = {'index': 'rank'})

# Add 1 to rank since index starts at 0
metric_change['rank'] = metric_change['rank'] + 1

# Subset data for selected columns: Rank, state, % increase
metric_change = metric_change[['rank','state','percentage_increase']]

In [ ]:
# Define selected states
states = ['Tennessee','Michigan','Hawaii']

# Function that takes in selected states and returns bar chart of their median listing percentage increase
def percentage_increase_plot(states):   
    # Subset data for the selected states
    filtered_df = mlp_increase[mlp_increase['state'].isin(states)]\
    .sort_values(by = 'percentage_increase', ascending = True)

    # Define x and y for the plot
    x = filtered_df['percentage_increase']
    y = filtered_df['state']

    # Create horizontal bar chart for national affordability index by month
    fig, ax = plt.subplots()
    bars = ax.barh(y, x, color = 'grey')

    # Remove the spines
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)

    # Label the bar numbers
    ax.bar_label(bars, color = 'white', padding = -50)

    return fig